<footer>
    <div class="footer">
        {{>partials/logo}}
        <div class="rights">
            <h2>ALL RIGHTS RESERVED<sup>©️</sup></h2>
            <div class="credit">João Gabriel Póvoa</div>
        </div>
    </div>
</footer>
</body>

</html>